.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  margin-top: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  border: 1px solid #dee2e6;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.co {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.fa {
  width: 120px;
  height: 40px;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.liink {
  color: white;
}
